*{
  box-sizing: border-box;
}

body{
  background: #aff441;
  color: #ffffff ;
}

.login{
  background: #41f479;
}

.dropdown{
  background: #41f479;
  display: block;
  float:left;
}

.dropdown > fieldset {
  padding: 4px;
}

/* #submit{
  background: #41acf4;
  display: block;
  float:left;
  padding: 9px;
}

#email{
  background: #41acf4;
  display:block;
  padding: 9px;
  float: left;
} */
